<div class="chat-container">
<nb-layout>
    <nb-layout-column>
    <nb-chat title="Project Chat" size="large">
      <nb-chat-message *ngFor="let msg of messages"
                       [type]="msg.type"
                       [message]="msg.text"
                       [reply]="msg.reply"
                       [sender]="msg.user.name"
                       [date]="msg.date"
                       [quote]="msg.quote"
                       [avatar]="msg.user.avatar">
      </nb-chat-message>
      <nb-chat-form (send)="sendMessage($event)" [dropFiles]="false">
      </nb-chat-form>
    </nb-chat>
    </nb-layout-column>
</nb-layout>
</div>
