<div id="graphs" >
    <div id="bar" >
        <div style="position: relative; width: 600px;">
            <div>Project Metrics</div>
            <canvas id="bar-graph" baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType">
            </canvas>
        </div>
    </div>
    <div id="pie" >
        <div>Personal Metrics</div>
        <canvas baseChart id="pie-chart"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [colors]="pieColors"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>
