<div class="navbar navbar-default">
    <div class="container">
        <div id="navbar-main">

            <ul class="nav navbar-nav">
                <li><a routerLink="/"><h5>TaskPanda</h5></a></li>
                <!-- <li><a routerLink="/">Home</a></li> -->
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login"><h5>Sign in</h5></a></li>

                <li *ngIf="auth.isLoggedIn()"><a routerLink="/profile"><h5>{{ auth.getUserDetails()?.name }}</h5></a></li>

                <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()"><h5>Logout</h5></a></li>

            </ul>

        </div>

    </div>

</div>
 
<router-outlet></router-outlet>


