@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

li a:hover {
  background-color: #5F8DC6;
}

div{
   list-style-type: none;

   padding: 0;
   overflow: hidden;
   background-color: lightblue;

}

li a{
    color: white;
}

